<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login51</title>
</head>
<body>
<form role="form" id = "loginForm" name = "loginForm" action="/progress/loginIns" method="post">
    账号：<input type="text" id="name" name = "name"> <br>
    密码：<input type="password" id = "password" name = "password"> <br>
    <input type="submit" id = "login" value = "登录">
<!--        <button type="button" onclick=processLogin()>登录</button>-->
</form>
<script>

    function processLogin() {
    console.log("processLogin");
        var name = document.getElementById("name").value;
        var password = document.getElementById("password").value;
        if (name == "" || password == "") {
            alert("账号或密码不能为空！");
            return false;
        }
        angular.element(document.body).injector().get('$http').post('/loginIn', {name: name, password: password}).then(function (response) {
        console.log(response.data);
            if (response.data.success) {
                alert("登录成功！");
        return true;
    }
</script>
</body>
</html>


